[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=fastapi-tutorial
Group=fastapi-tutorial
WorkingDirectory=/home/fastapi-tutorial/app/source/
Environment="PATH=/home/fastapi-tutorial/app/venv/bin"
EnvironmentFile=/home/fastapi-tutorial/.env
ExecStart=/home/fastapi-tutorial/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target